body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.25rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@media (max-width: 600px) {
    .login-card {
        min-width: 20rem;
    }
}

.navbar {
    z-index: 3;
}
.solid-navbar{
    background-color: rgba(9, 22, 36, 1);
}
.nav-item {
    padding: 10px;
}
.navbar-stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.routes-height {
    min-height: 100vh;
}

.largeText {
    font-size: 1.2rem;
}

.top-margin {
    margin-top: 5rem;
}

.nav-item a {
    color: black;
    text-decoration: none;
}
.logo img {
    height: 50px;
}

.pointer {
    cursor: pointer;
}

.signup {
    padding: 10px;
}

/* card and bootcamp */
.coursecard {
    display: flex;
    flex-direction: row;
    position: relative;
    border: '1px solid #d3cede';
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
}

.carddiv {
    background-color: transparent;
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    width: 100%;
    align-self: center;
    justify-content: center;
}
.register {
    text-decoration: none;
    color: #fff;
}
.card-buttons {
    display: flex;
    margin-top: 20px;
    bottom: 0;
    /* width: 15%; */
}

.cardbutton {
    color: black;
    /* margin-right: 10px; */
    padding: 5px 20px;
    border-radius: 0;
}

.cardimage {
    border-radius: 0;
    width: 40%;
}

.cardicons {
    display: flex;
    flex-direction: column;
}

.cardicons i {
    padding-top: 8px;
}

.courseh1 {
    text-align: center;

    /* margin-top: 80px; */
}
.courseh1 h1 {
    color: white;
    font-family: Alfa Slab One;
}

.bootcamps {
    background-image: radial-gradient(
        circle,
        rgb(10, 50, 90) 10%,
        rgba(9, 22, 36, 1) 90%
    );
    padding-top: 50px;
    padding-bottom: 50px;
}
.cardbody {
    color: white;
    font-family: Alfa Slab One;
}
/* homepage learn section */

.learnimage {
    width: 40%;
    /* height: 400px; */
    /* border-radius: 30px; */
    padding: 20px;
}
.learn {
    background-image: radial-gradient(
        circle,
        rgb(10, 50, 90) 10%,
        rgba(9, 22, 36, 1) 90%
    );
    display: flex;
    background-size: cover;
    background-color: #000080;
    position: relative;
    /* margin: 30px; */
}
.titleh1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    padding: 20px;
}

.titleh1 h1 {
    font-size: 5rem;
    font-family: Alfa Slab One;
    color: white;
    padding: 8px;
}
.titleh1 h5 {
    font-size: 1.5rem;
    color: white;
    font-family: Alfa Slab One;
    padding: 5px;
}
.titleh1 a {
    text-decoration: none;
    color: white;
}
.learn-button {
    border-radius: 0;
    color: black;
    margin-left: 40%;
    margin-top: 10px;
}
.learn-button a {
    color: black;
}

.learn-button a:hover {
    color: white;
}

/* help section */
.clarification {
    /* background-image: radial-gradient(
        circle,
        rgb(10, 50, 90) 10%,
        rgba(9, 22, 36, 1) 90%
    ); */
    background-color: rgba(9, 22, 36, 1);
    padding-top: 50px auto;
    /* height: 500px; */
}

.helpcard {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    /* margin: 50px; */
    /* border-radius: 10px; */
}
.help {
    display: flex;
    height: 500px;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.help-para {
    font-family: Alfa Slab One;
    border-radius: 5%;
    /* width: 50%; */
    padding: 20px;
    height: 350px;
    color: white;
    background-color: rgb(0, 110, 255);
}
.help-form {
    width: 50%;
    padding: 20px;
    color: white;
}

.help-form h2 {
    color: rgb(64, 152, 224);
    padding-top: 50px;
}
.help-form h1 {
    padding-bottom: 10px;
}
.clarification-icon {
    padding-bottom: 20px;
}

.clarification-icon div {
    display: flex;
}

.help-para h1 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.help-para h5 {
    padding: 10px;
}

/* banner */
.banner {
    width: 100%;
    background-image: radial-gradient(
        circle,
        rgb(10, 50, 90) 10%,
        rgba(9, 22, 36, 1) 90%
    );
    /* background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
        url('https://csde.washington.edu/wp-content/uploads/2020/08/workshop-photo.jpg')
            no-repeat center center fixed; */
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    background-color: #000080;
    position: relative;
}

.banner-ani {
    width: 40%;
    /* position: absolute; */
    margin-left: 60%;
    margin-top: 7%;
}
.banner-ani img {
    height: 480px;
}

.banner-para h1 {
    font-size: 5rem;
    font-family: Alfa Slab One;
}
.banner-para h5 {
    font-size: 1.5rem;
}
.banner-para {
    text-align: center;
    color: white;
    font-family: sans-serif;
    width: 60%;
    position: absolute;
    top: 25%;
}

.banner-input {
    background-color: rgb(10, 50, 90);
    padding: 10px 0 4px 20px;
    margin: 40px 0px 5px 5px;
    border: 0;
    width: 60%;
}

.banner-button {
    border-radius: 0;
    color: black;
}

/* footer */
.footer {
    background-color: rgba(9, 22, 36, 1);
    display: flex; 
    justify-content: space-between;
    align-items: self-start;
}

.footer1 {
    display: flex;
    flex-direction: column;
    color: white;
    width: 33%;
    /* height: 300px; */
    padding: 30px;
    font-family: Alfa Slab One;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer1 h5 {
    padding-top: 10px;
}
.footer2 {
    width: 33%;
    padding: 39px;
    color: white;
    text-align: center;
    font-family: Alfa Slab One;
}
.footer2 li {
    padding-top: 10px;
}

.footer3 {
    width: 34%;
    text-align: center;
    font-family: Alfa Slab One;
    padding: 39px;
    color: white;
}
.clarification-iconf {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
}

.footer4 {
    padding-top: 30px;
}
.foot {
    background-color: rgba(9, 22, 36, 1);
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

/* about us */

.abouth1 {
    text-align: center;
    margin-top: 80px;
}
.aboutus {
    width: 80%;
    margin: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
        circle,
        rgb(10, 50, 90) 10%,
        rgba(9, 22, 36, 1) 90%
    );
    color: white;
}

.aboutus p {
    font-size: 20px;
}
/* teach */

.teach-button {
    color: black;
    margin-left: 250px;
    padding: 5px;
    margin-top: 10px;
}

/* login */

.login {
    background-image: radial-gradient(
        circle,
        rgb(10, 50, 90) 10%,
        rgba(9, 22, 36, 1) 90%
    );
}

@media only screen and (max-width: 768px) {
    .learn-button {
        margin-left: 30%;
        /* margin-top: 10px; */
    }
    .banner-para h1 {
        font-size: 4rem;
    }
    .banner-para h5 {
        font-size: 1rem;
    }
    .navbar {
        margin: 0;
        padding: 2px;
    }
    .banner-input {
        margin: 0;
        width: 50%;
        padding: 10px 0 4px 10px;
    }
    .banner {
        display: flex;
        flex-direction: column;
    }
    .banner-ani {
        display: none;
        /* flex-direction: column; */
    }
    .banner-para {
        width: 100%;
    }
    .learn {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .learnimage {
        width: 100%;
        height: auto;
    }
    .titleh1 {
        width: 100%;
    }
    .titleh1 h1 {
        font-size: 30px;
    }
    .titleh1 h5 {
        font-size: 15px;
    }
    .helpcard {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }
    .help {
        width: 100%;
    }
    .clarification {
        padding-top: 20px;
    }
    .help-para {
        width: 100%;
        height: 380px;
    }
    .help-form {
        width: 100%;
        text-align: center;
    }
    .banner-para h1 {
        font-size: 3.5rem;
    }
    .carddiv {
        width: 100%;
        padding: 10px;
    }
    .coursecard {
        margin: 10px 0 10px 0;
        flex-direction: column;
    }
    .cardimage {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .cardtext {
        font-size: small;
    }
    .card-buttons {
        display: flex;
        flex-wrap: wrap;
    }
    .cardbutton {
        margin-top: 10px;
    }
    .teach-button {
        margin-left: 80px;
        /* margin-right: 10px; */
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer3 {
        width: 100%;
    }
    .footer2 {
        width: 100%;
    }
    .footer1 {
        width: 100%;
    }
}
